<!-- start of hand -->
    <div class="player-card col-12 col-md-6 col-lg-3">
        <div class="row">
            <div class="col-12">
                <div class="card-anchor">
                    <div class="m0a w100">
                        <img src="~/img/${cardvalue}.png" alt="">
                    </div>
                    <!-- a card should go here -->
                </div>
            </div>
        </div>
    </div>
    <div class="player-card col-12 col-md-6 col-lg-3">
        <div class="row">
            <div class="col-12">
                <div class="card-anchor">
                    <div class="m0a w100">
                        <img src="~/img/c1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="player-card col-12 col-md-6 col-lg-3">
        <div class="row">
            <div class="col-12">
                <div class="card-anchor">
                    <div class="m0a w100">
                        <img src="~/img/c1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="player-card col-12 col-md-6 col-lg-3">
        <div class="row">
            <div class="col-12">
                <div class="card-anchor">
                    <div class="m0a w100">
                        <img src="~/img/c1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of hand -->