<!-- insert head -->
@await Html.PartialAsync("Head.cshtml")
<script src="~/js/main.js"></script>
<!-- end insert head -->
<div class="container">
    <div class="header">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="har1"></div>
        <div class="har-low-1"></div>
        <div class="har2"></div>
        <div class="har-low-2"></div>
        <div class="war1"></div>
        <div class="war2"></div>
        <div class="base-bar"></div>
        <div class="row">
            <div class="col-4">
                <h1 class="title">Casino 31</h1>
            </div>
            <div class="col-8">
                <nav class="menu">
                    <div class="main-menu">Show Rules</div>
                    <div class="main-menu" id="music">Music</div>
                    <div class="submenu clearfix music">
                        <div class="sub-item" id="music-on">On</div>
                        <div class="sub-item" id="music-off">Off</div>
                    </div>
                    <div class="main-menu" id="game-speed">Game Speed</div>
                    <div class="submenu clearfix game-speed">
                        <div class="sub-item" id="speed-slow">Slow</div>
                        <div class="sub-item" id="speed-normal">Normal</div>
                        <div class="sub-item" id="speed-fast">Fast</div>
                    </div>
                    <div class="main-menu" id="taunt">Chat</div>
                    <div class="submenu clearfix taunt">
                        <div class="sub-item" id="taunt-off">None</div>
                        <div class="sub-item" id="taunt-shakespear">Shakespear</div>
                        <div class="sub-item" id="taunt-mp">Monty Python</div>
                    </div>
                    <div class="main-menu">New Game</div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 sidebar">
            <div class="sidebar-buffer bubble-border">
                <div class="row deck-area">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h4>Draw from:</h4>
                            </div>
                        </div>
                        <div class="row draw">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="draw-deck" id="DrawCard">
                                            <img class="core" src="~/img/cardback.png" alt="">
                                            <img class="shift1" src="~/img/cardback.png" alt="">
                                            <img class="shift2" src="~/img/cardback.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="discard-bg"></div>
                                        <div class="discard-x"></div>
                                        <div class="discard-y"></div>
                                        <div class="draw-deck" id="DiscardCard">
                                            <img src="~/img/transparent1.png" alt="discard" class="discard-img" id="discard_pile_top_card">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="tac deck-label">Deck</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="tac deck-label">Discard</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- I'm sorry... -->
            <div class="row">
                <div class="col-12 sidebar">
                    <div class="sidebar-buffer bubble-border">
                        <div class="mx-auto">
                            <button class="button gbg-button btn-sm" id="NextRound">NextRound</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <3 you... -->
        </div>
        <div class="col-12 col-md-9">
            <div class="game-area bubble-border">
                <div class="row hand-container">
                    <div class="col-12" id="player_hands">
                        <!-- START OF ONE HAND -->
                        <!-- END OF HAND  --><!-- START OF ONE HAND -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="shadowbox">
</div>
<div class="shadow-content-container ">
    <div class="inner-shadow">
        <div class="bubble-border">
            <div class="row">
                <div class="col-12">
                    <h2 class="tac">For each shadowbox you want to build:</h2>
                    <ul>
                        <li>class "shadowbox" default is hidden, you'll need to show it as part of your call.</li>
                        <li>dupe all of the dom structure inside and including "shadow-content-container"</li>
                        <li>profit</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Change of Turn Indication for human players -->
<div class="shadowbox" id="game_rules_shadow_box">
</div>
<div class="shadow-content-container game-rules" id="game_rules">
    <div class="inner-shadow">
        <div class="row">
            <div class="col-12">
                <div class="rules bubble-border">
                    <div class="row">
                        <div class="col-12">
                            <h2>Objective:</h2>
                            <p>The goal is to obtain a hand that totals 31 in cards of one suit; or to have a hand at the showdown whose count in one suit is higher than that of any other player.</p>
                            <h2>Play:</h2>
                            <p>All players begin with 3 chips. On each turn, players take one card from either the top of the deck or from the widow (aka the discard pile). A turn ends by discarding a card from their hand.</p>
                            <p>Players take turns, until one player is satisfied that the card values he holds will likely beat all other players and "knocks" on the table. Once a knock has been made, all other players get one more turn to exchange cards before the showdown where all players reveal their hands and compare values.</p>
                            <h2>Card Values:</h2>
                            <p>An Ace counts 11 points, face cards count 10 points, and all other cards count their face value</p>
                            <h2>Scoring:</h2>
                            <p>If the player who knocked does not have the highest scoring hand at the showdown, they lose a chip to the pot.  However, if they do have the highest scoring hand, the player with the lowest hand loses a chip to the pot instead.</p>
                            <p>If there is a tie for the highest score, the player with the highest-ranking card wins.</p>
                            <p>Example: K, Q, 6 (total 26) would beat Q, 9, 7 (also total 26). If there is a tie in the highest cards, the next highest cards are compared, and so on.</p>
                            <p>If at any point a player holds exactly 31 points during the game, or obtains three aces, the game immediately ends and all other players lose a chip to the pot.</p>
                            <p>After the pot has been won, all the players put in chips for the next hand.</p>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12">
                            <div class="sidebar-rules">
                                <h2>31 TLDR Rules:</h2>
                                <div class="row">
                                    <div class="col-6">
                                        <ul>
                                            <li>Try to total 31 points</li>
                                            <li>Aces are worth 11 points</li>
                                            <li>10-K are worth 10 points</li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li>Choose Cards in the same suit</li>
                                            <li>Knock when you think you can beat everyone's hand value</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12 clearfix">
                            <div class="float-right">
                                <button class="button" id="PlayGame">Got it, let's play!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shadowbox" id="change_turn_shadow_box"></div>
<div class="shadow-content-container" id="change_turn"></div>
<div class="taunt-bubble">
    <div class="bdr-arrow"></div>
    <div class="bubble-arrow"></div>
    <div class="text" id="taunt-text">text from taunt here</div>
</div>


<!-- JUSTIN MAKE THIS AN ERROR WINDOW! *please -->
<!-- <div class="taunt-bubble">
    <div class="bdr-arrow"></div>
    <div class="bubble-arrow"></div>
    <div class="text" id="taunt-text">text from taunt here</div>
</div> -->