.green-bg {
  background-color: green; }

.gray-bg {
  background-color: #F4F7D9; }

.blue-bg {
  background-color: #04518C; }

.red-bg {
  background-color: red; }

.yellow-bg {
  background-color: yellow; }

.orange-bg {
  background-color: orange; }

.black-bg {
  background-color: black; }

.purple-bg {
  background-color: purple; }

.dilb {
  display: inline-block; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tl-arrow {
  position: absolute;
  top: -2px;
  left: -7px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #051c37;
  transform: rotate(-45deg); }

.tr-arrow {
  position: absolute;
  top: -2px;
  right: -7px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #051c37;
  transform: rotate(45deg); }

.bl-arrow {
  position: absolute;
  bottom: -2px;
  left: -7px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #051c37;
  transform: rotate(-135deg); }

.br-arrow {
  position: absolute;
  bottom: -3px;
  right: -7px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #051c37;
  transform: rotate(135deg); }

.float-right {
  float: right; }

.float-left {
  float: left; }

.clearfix {
  clear: both; }

img {
  width: 100%;
  height: 100%; }

.mt20 {
  margin-top: 20px; }

.ml20 {
  margin-left: 20px; }

.m20 {
  margin: 20px; }

.m0a {
  margin: 0 auto; }

button, .button .btn {
  background-color: #051c37;
  color: white;
  padding: 7px 25px;
  border: silver 2px solid;
  margin: 1px 1px 1px 1px;
  cursor: pointer;
  max-width: 100%; }
  button:hover, .button .btn:hover {
    background-color: rgba(5, 28, 55, 0.8);
    padding: 8px 26px;
    margin: 0; }

.gbg-button {
  border: #657a64; }

.shadowbox {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none; }

.shadow-content-container {
  position: fixed;
  top: 25%;
  left: 50%;
  max-width: 500px;
  width: 50%;
  max-height: 600px;
  margin: 0 auto;
  display: none; }
  .shadow-content-container .inner-shadow {
    position: relative;
    top: 0;
    left: -50%;
    padding: 20px; }
    .shadow-content-container .inner-shadow .bubble-border {
      width: 100%;
      height: auto; }

.taunt-bubble {
  position: absolute;
  top: 173px;
  left: 1490px;
  height: 130px;
  width: 130px;
  border-radius: 10px;
  background-color: white;
  border: 3px solid #051c37;
  z-index: 201;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: #051c37;
  font-size: 0.8em; }
  .taunt-bubble .bubble-arrow {
    position: relative;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 202;
    bottom: -11px;
    right: 39px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    transform: rotate(-90deg);
    display: inline-block; }
  .taunt-bubble .bdr-arrow {
    z-index: 200;
    position: relative;
    bottom: -11px;
    right: 17px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #051c37;
    transform: rotate(-90deg);
    display: inline-block; }
  .taunt-bubble .text {
    max-width: 80%;
    margin: 5px;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .large, .medium {
    display: none; } }
@media only screen and (min-device-width: 481px) and (max-device-width: 1023px) {
  .small, .large {
    display: none; } }
@media only screen and (min-device-width: 1024px) {
  .small, .medium {
    display: none; } }
body {
  background-image: url("../img/grain1.jpeg");
  padding-top: 20px; }

.header {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #051c37;
  color: white;
  margin: 0 0 20px 0;
  padding: 5px 0 0 0;
  line-height: 50px; }
  .header h1.title {
    z-index: 300;
    font-size: 2.5em;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    border-bottom: white;
    margin-left: 40px;
    line-height: 50px; }
  .header .bar1 {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 30px;
    height: 90px;
    background-color: #051c37;
    z-index: 205; }
  .header .bar2 {
    position: absolute;
    top: 0px;
    right: -20px;
    width: 30px;
    height: 90px;
    background-color: #051c37;
    z-index: 205; }
  .header .har1 {
    position: absolute;
    top: 36px;
    left: -110px;
    width: 0;
    height: 0;
    border-left: 63px solid transparent;
    border-right: 63px solid transparent;
    border-bottom: 63px solid #051c37;
    transform: rotate(135deg); }
  .header .har2 {
    position: absolute;
    top: 2px;
    right: -80px;
    width: 0;
    height: 0;
    border-bottom: 65px solid transparent;
    border-top: 65px solid transparent;
    border-left: 65px solid #051c37;
    transform: rotate(135deg); }
  .header .har-low-1 {
    position: absolute;
    top: 80px;
    left: -110px;
    width: 0;
    height: 0;
    border-left: 63px solid transparent;
    border-right: 63px solid transparent;
    border-bottom: 63px solid #051c37;
    transform: rotate(45deg); }
  .header .har-low-2 {
    position: absolute;
    top: 48px;
    right: -80px;
    width: 0;
    height: 0;
    border-bottom: 65px solid transparent;
    border-top: 65px solid transparent;
    border-left: 65px solid #051c37;
    transform: rotate(-135deg); }
  .header .war1 {
    position: absolute;
    top: 90px;
    left: -89px;
    width: 0;
    height: 0;
    border-left: 0px solid #0000;
    border-right: 69px solid #0000;
    border-bottom: 24px solid white;
    transform: rotate(180deg); }
  .header .war2 {
    position: absolute;
    top: 90px;
    right: -89px;
    width: 0;
    height: 0;
    border-right: 0px solid #0000;
    border-left: 69px solid #0000;
    border-bottom: 24px solid white;
    transform: rotate(-180deg); }
  .header .base-bar {
    position: absolute;
    bottom: -4px;
    left: -50px;
    background-color: white;
    height: 4px;
    width: 110%; }

nav.menu {
  border-bottom: 1px solid white;
  margin-left: 260px;
  position: relative; }
  nav.menu a {
    color: white;
    padding: 10px 15px 16px 15px;
    text-decoration: none;
    margin-right: 5px;
    line-height: 1em;
    display: inline-block; }
    nav.menu a:hover {
      color: rgba(5, 28, 55, 0.8);
      background-color: white;
      text-decoration: none; }
  nav.menu ul.submenu {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0; }
    nav.menu ul.submenu li {
      display: none; }

.container {
  background-color: #657a64;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  padding: 0 20px 20px 20px;
  color: white;
  border: 5px solid #051c37;
  border-top: none; }
  .container h1 {
    margin-bottom: 20px; }
  .container h2 {
    margin: 15px 0 20px 0px; }
  .container .bubble-border {
    background-color: #F4F7D9;
    border: 11px solid #051c37;
    color: #051c37; }
  .container .rules {
    min-height: 300px;
    margin: 30px 0px;
    padding: 20px; }
  .container .sidebar .sidebar-buffer {
    min-height: 200px;
    margin: 0 0 30px 0;
    padding: 10px 20px 0 20px; }
    .container .sidebar .sidebar-buffer h2 {
      border-bottom: 1px solid #051c37;
      margin-bottom: 20px;
      padding-bottom: 10px; }
    .container .sidebar .sidebar-buffer ul {
      padding-left: 18px; }
  .container .sidebar .deck-area .b-wrap {
    text-align: center;
    width: 171px;
    margin: 0 auto; }
  .container .sidebar .deck-area .b-wide {
    width: 191px; }
  .container .sidebar .deck-area .deck-pusher {
    margin: 20px 0 20px 0; }
  .container .sidebar .deck-area .draw-deck {
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer; }
    .container .sidebar .deck-area .draw-deck img {
      width: 100%;
      height: auto; }
  .container .game-area {
    padding: 0 15px; }
    .container .game-area .hand-container {
      margin-top: 20px; }
      .container .game-area .hand-container .hand {
        padding: 10px;
        border: 1px solid #051c37;
        margin-bottom: 25px;
        background-image: url("/img/bg-tile-tan.png");
        min-height: 200px;
        position: relative; }
        .container .game-area .hand-container .hand .hand-labels h3 {
          font-size: 1.3em; }
        .container .game-area .hand-container .hand .hand-buttons .turn-indicator {
          font-size: 1.5em;
          min-height: 40px; }
          .container .game-area .hand-container .hand .hand-buttons .turn-indicator i {
            width: 100%; }
        .container .game-area .hand-container .hand .hand-buttons .discard-btn {
          padding: 7px 20px; }
          .container .game-area .hand-container .hand .hand-buttons .discard-btn:hover {
            padding: 8px 21px; }
        .container .game-area .hand-container .hand .hand-buttons button {
          width: 100%;
          text-align: center; }
        .container .game-area .hand-container .hand .player-card {
          padding: 10px 0 0 0; }
          .container .game-area .hand-container .hand .player-card .w100 {
            width: 71px; }
          .container .game-area .hand-container .hand .player-card .check {
            margin-left: 30px; }
          .container .game-area .hand-container .hand .player-card .card-anchor {
            margin: 0 auto; }
            .container .game-area .hand-container .hand .player-card .card-anchor img {
              max-height: 100px;
              height: auto;
              width: auto;
              margin: 0 auto; }
            .container .game-area .hand-container .hand .player-card .card-anchor .player-selected {
              border: 2px dashed green; }

/*# sourceMappingURL=base.css.map */
