// Import modules via all.scss
@import "modules/modules";

// import helpers
@import "helpers/buttons";
@import "helpers/shadowbox";
@import "helpers/taunt";
@import "helpers/mixins";

// import responsive sheets
@import "responsive/1phone";
@import "responsive/2tablet";
@import "responsive/3desktop";

body{
    background-image: url("../img/grain1.jpeg");
    padding-top: 20px;
}

@import "helpers/header";
@import "helpers/menu";

.container{
    background-color: $t-green;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    padding: 0 20px 20px 20px;
    color: $white;
    border: 5px solid $b-blue;
    border-top: none;
    h1{
        margin-bottom: 20px;
    }
    h2{
        margin: 15px 0 20px 0px;
    }
    .bubble-border{
        background-color: $t-gray;
        border: 11px solid $b-blue;
        color: $b-blue;

    }
    .rules{
        min-height: 300px;
        margin: 30px 0px;
        padding: 20px;
    }
    .sidebar{
        // padding-right: 0px;
       .sidebar-buffer{
            min-height: 200px;
            margin: 0 0 30px 0;
            padding: 10px 20px 0 20px;
            h2{
                border-bottom: 1px solid $b-blue;
                margin-bottom: 20px;
                padding-bottom: 10px;
            }
            ul{
                padding-left: 18px;
            }
        }
        .deck-area{
            position: relative;
            h5.deck-label{
                margin: 30px 0 10px 0;
            }
            .discard-bg{
                position: absolute;
                top: 3px;
                left: 25px;
                height: 82px;
                width: 58px;
                border: 2px dotted $b-blue;
                z-index: 50;
            }
            .discard-x{
                position: absolute;
                top: 23px;
                left: 52px;
                width: 0;
                height: 45px;
                border: 2px dotted $b-blue;
                transform: rotate(-135deg);
            }
            .discard-y{
                position: absolute;
                top: 23px;
                left: 52px;
                width: 0;
                height: 45px;
                border: 2px dotted $b-blue;
                transform: rotate(-225deg);
            }
            .core{
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 55;
                transform: rotate(-5deg)
            }
            .shift1{
                position: absolute;
                top: 0px;
                left: 11px;
                z-index: 50;
            }
            .shift2{
                position: absolute;
                top: 0px;
                left: 5px;
                z-index: 51;
            }
            .b-wrap{
                text-align: center;
                width: 171px;
                margin: 0 auto
            }
            .b-wide{
                width: 191px;
            }
            .deck-pusher{
                margin: 20px 0 20px 0;
            }
            .draw-deck{
                max-width: 80%;
                margin: 0 auto;
                cursor: pointer;
                z-index: 51;
                position: relative;
                img{
                    max-width: 100%;;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .game-area{
        padding: 0 15px;
        .hand-container{
            margin-top: 20px;

            .hand{
                padding: 10px;
                border: 1px solid $b-blue;
                margin-bottom: 25px;
                background-image: url("/img/bg-tile-tan.png");
                min-height: 200px;
                position: relative;
                .hand-labels{
                    h3{
                        font-size: 1.3em;
                    }
                }
                .hand-buttons{
                    .turn-indicator{
                        font-size: 1.5em;
                        min-height: 40px;
                        i{
                            width: 100%;
                        }
                    }
                    .discard-btn{
                        padding: 7px 20px;
                        &:hover{
                            padding: 8px 21px;
                        }
                    }
                    button{
                        width: 100%;
                        text-align: center;
                    }
                }
                .player-card{
                    padding: 10px 0 0 0;
                    .w100{
                        width: 71px;
                    }
                    .check{
                        margin-left: 30px;
                    }
                    .card-anchor{
                        margin: 0 auto;
                        img{
                            max-height: 100px;
                            height: auto;
                            width: auto;
                            margin: 0 auto;
                        }
                        .player-selected {
                            border: 2px dotted green;
                        }
                    }
                }
            }
        }
    }
}
