body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.fucking-work-please {
    background-image: url('https://mdn.mozillademos.org/files/7693/catfront.png')
}
.c1 
{
    background-image: url("~/img/c1.png")
}
